<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enable</key>
	<true/>
	<key>validInterval</key>
	<integer>0</integer>
	<key>currentTimeURL</key>
	<string>https://script.google.com/macros/s/AKfycbwSHODYq00ZiU2ogjWmoEshIiwtER0J6fYFBw6ZugpxHWRlWMw/exec</string>
	<key>currentTimeDateTimeFormat</key>
	<string>YYYY/MM/dd HH:mm:ss</string>
	<key>onOrder</key>
	<false/>
	<key>apps</key>
	<array>
		<dict>
			<key>enable</key>
			<true/>
			<key>title</key>
			<string>Hang Drum FREE</string>
			<key>message</key>
			<string>Play the hang drum of your dream! Download NOW! Completely FREE!</string>
			<key>appId</key>
			<string>1439303516</string>
			<key>bundleId</key>
			<string>com.hangdrum.free</string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>title</key>
			<string>Create incredible music instantly!</string>
			<key>message</key>
			<string>Make awesome beats and music with Hang Drum PRO! Download NOW!</string>
			<key>appId</key>
			<string>1440421503</string>
			<key>bundleId</key>
			<string>com.hangdrum.pro</string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>title</key>
			<string>title</string>
			<key>message</key>
			<string>message</string>
			<key>appId</key>
			<string>11111</string>
			<key>bundleId</key>
			<string>a.test</string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<false/>
			<key>title</key>
			<string></string>
			<key>message</key>
			<string></string>
			<key>appId</key>
			<string></string>
			<key>bundleId</key>
			<string></string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<false/>
			<key>title</key>
			<string></string>
			<key>message</key>
			<string></string>
			<key>appId</key>
			<string></string>
			<key>bundleId</key>
			<string></string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<false/>
			<key>title</key>
			<string></string>
			<key>message</key>
			<string></string>
			<key>appId</key>
			<string></string>
			<key>bundleId</key>
			<string></string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<false/>
			<key>title</key>
			<string></string>
			<key>message</key>
			<string></string>
			<key>appId</key>
			<string></string>
			<key>bundleId</key>
			<string></string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<false/>
			<key>title</key>
			<string></string>
			<key>message</key>
			<string></string>
			<key>appId</key>
			<string></string>
			<key>bundleId</key>
			<string></string>
			<key>scheme</key>
			<string></string>
		</dict>
		<dict>
			<key>enable</key>
			<false/>
			<key>title</key>
			<string></string>
			<key>message</key>
			<string></string>
			<key>appId</key>
			<string></string>
			<key>bundleId</key>
			<string></string>
			<key>scheme</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
